@import url("https://fonts.googleapis.com/css?family=Raleway|Cardo|Calligraffitti");
body {
  font-family: 'Raleway', sans-serif;
  color: #fff !important;
}

body header .navbar {
  margin: 0 !important;
  border-radius: 0 !important;
}

body header .navbar .navbar-toggle .icon-bar {
  border: white 1px solid;
}

body header .navbar-collapse {
  margin: 0 auto;
}

body header .centerer {
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  body header .centerer {
    height: 70px;
  }
}

@media (min-width: 768px) {
  body header .centerer {
    justify-content: center;
  }
}

body header ul.navbar-nav li a {
  color: white;
  font-size: 20px;
  font-family: Raleway;
  text-shadow: 1px 1px #000;
  padding-left: 30px;
  padding-right: 30px;
  background: none !important;
}

body section.image {
  position: relative;
  height: 100vh;
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
}

body section.image:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2b2b2b;
  opacity: 0.5;
}

body.index .welcomeText {
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.index .welcomeText .text {
  width: 50vw;
  color: #fff !important;
  border-radius: 2px;
  border: 2px white solid;
  padding: 20px;
  text-shadow: -1px -1px 2px #2b2b2b;
  box-shadow: -2px -2px 20px #1b1b1a;
  font-size: 47px;
  text-align: center;
}

body.index .welcomeText .text h1 {
  font-size: 80px;
}

body.index .welcomeText .text h5 {
  font-size: 20px;
}

@media (max-width: 768px) {
  body.index .welcomeText .text h1 {
    font-size: 50px;
  }
}

@media (max-width: 425px) {
  body.index .welcomeText .text {
    font-size: 15px;
  }
  body.index .welcomeText .text h1 {
    font-size: 30px;
  }
}

body.wwa .text-hold {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.73);
  color: rgba(43, 43, 43, 0.91);
  padding: 20px;
}

body.wwa .text-hold p {
  font-size: 20px;
  padding: 10px;
}

@media (max-width: 768px) {
  body.wwa .text-hold {
    width: 90%;
    position: relative;
  }

  body.archive div.video-link{
    height: 250px;
    margin-bottom: 20px;
  }


}

@media (min-width: 426px) and (max-width: 1200px){
  body.archive div.video-link{
    margin-right: 20px;
  }
  body.archive .holder{
    align-items: center;
  }
}

@media (max-width: 425px) {
  body.wwa .text-hold p {
    font-size: 15px;
  }
}

body.archive div.overarch {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.archive div.holder {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

body.archive div.poster {
  background-size: contain !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  height: 600px;
  flex: 1;
}

body.archive div.video-link{
  flex: 1;
}

body.archive .carousel-control{
  background: transparent !important;
}

@media (max-width: 425px) {
  body.archive div.poster {
    height: 400px;
  }
  body.archive div.holder{
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  body.archive div.video-link{
    height: 500px;
    margin-right: 20px;
  }
}
